nodered/flow.js
[{"id":"387f9195.7f2476","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eb44779.1a0de08","type":"mqtt in","z":"387f9195.7f2476","name":"test maggle","topic":"/sensors/test","qos":"2","broker":"659bc941.a6fab","x":70,"y":240,"wires":[["322a9a51.4d6006"]]},{"id":"c123f6b8.a41a98","type":"debug","z":"387f9195.7f2476","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":220,"wires":[]},{"id":"322a9a51.4d6006","type":"json","z":"387f9195.7f2476","name":"","property":"payload","action":"","pretty":false,"x":230,"y":240,"wires":[["c123f6b8.a41a98","d2e2f7a9.d3da3"]]},{"id":"5388f21e.70c5a4","type":"influxdb out","z":"387f9195.7f2476","influxdb":"2b307e27.5a3b72","name":"test/temp","measurement":"","precision":"","retentionPolicy":"","x":560,"y":320,"wires":[]},{"id":"d2e2f7a9.d3da3","type":"split","z":"387f9195.7f2476","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"measurement","x":350,"y":320,"wires":[["5388f21e.70c5a4"]]},{"id":"659bc941.a6fab","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.1.18","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b307e27.5a3b72","type":"influxdb","z":"","hostname":"192.168.1.18","port":"8086","protocol":"http","database":"sensors","name":"local_influxdb","usetls":false,"tls":""}]
